.label
{
    -fx-text-fill: gray;
}
GridPane {
    -fx-background-color: #5095e2;
}
VBox {
    -fx-background-color: #cae3f6;
    -fx-padding: 10px;
}
.button
{
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border-radius: 9px;
    -fx-text-fill: white;
}